.router-link--underline--false:hover
  text-decoration: none
  
.margin-top-15px
  margin-top: 15px

.center
  display: flex
  align-items: center
  justify-content: center
  flex-direction: row
  height: calc(50vh)

.clickable
  cursor: pointer

body
  word-wrap: break-word

.table-row-image
  text-overflow: clip !important
