@import "~bootstrap/dist/css/bootstrap.css";

.router-link--underline--false:hover {
  text-decoration: none;
}

.margin-top-15px {
  margin-top: 15px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: calc(50vh);
}

.clickable {
  cursor: pointer;
}

body {
  word-wrap: break-word;
}

.table-row-image {
  text-overflow: clip !important;
}

.drawer__container {
  height: calc(100% - 64px) !important;
  top: 64px !important;
  bottom: 0 !important;

}

.drawer__overlay {
  opacity: 0 !important;
}

.margin-top-app-bar {
  margin-top: 64px;
}
